<h1>Editing target</h1>

<%= render "form", target: @target %>

<br>

<div>
  <%= link_to "Show this target", @target, class:"btn btn-secondary" %> 
  <%= link_to "Back to targets", targets_path, class:"btn btn-dark" %>
</div>
